<div class="px-24 pt-32 pb-24">
  <h3 class="f-14 f-w-700 text-primary">Company</h3>
  <div class="flex align-start border-secondary radius-8 mt-16 px-16 py-24 w-100">
    <div class="box-36 bg-primary radius-full p-6">
      <img class="img-max-width radius-full" src="../../assets/images/app-symbol.png" alt="" />
    </div>
    <div class="ml-8">
      <div>
        <h5 class="f-14 f-w-700 text-primary">Apptivo Pvt Ltd</h5>
        <p class="f-14 text-hint mt-6">apptivo.com</p>
      </div>
      <div class="mt-24">
        <p class="f-12 f-w-400 text-tertiary flex">
          <mat-icon class="f-14 text-hint mr-8">email</mat-icon>Johnny.Britto&#64;gmail.com
        </p>
        <p class="f-12 f-w-400 text-tertiary flex mt-12">
          <mat-icon class="f-14 text-hint mr-8">call</mat-icon>(983) 888 0392
        </p>
      </div>
    </div>
  </div>

  <div class="flex mt-12">
    <div class="flex align-start border-secondary radius-8 p-12 flex-1 mr-5">
      <div class="ml-8">
        <h5 class="f-14 f-w-700 text-primary">Leads</h5>
        <p class="f-16 text-hint mt-6">11</p>
      </div>
    </div>
    <div class="flex align-start border-secondary radius-8 p-12 flex-1 ml-5">
      <div class="ml-8">
        <h5 class="f-14 f-w-700 text-primary">Leads</h5>
        <p class="f-16 text-hint mt-6">11</p>
      </div>
    </div>
  </div>
</div>
<div class="border-top-secondary py-24 px-12">
  <h3 class="f-14 f-w-700 text-primary pl-12">Take a action</h3>
  <div class="mt-16">
    <p
      class="f-14 f-w-500 text-tertiary flex px-12 py-12 radius-8 cursor-pointer text-hover-primary-color bg-hover-primary-color-10">
      <mat-icon class="f-16 text-hint mr-10">add</mat-icon>Add to Target List
    </p>
    <p
      class="f-14 f-w-500 text-tertiary flex px-12 py-12 radius-8 cursor-pointer text-hover-primary-color bg-hover-primary-color-10">
      <mat-icon class="f-16 text-hint mr-10">refresh</mat-icon>Schedule Followup
    </p>
    <p
      class="f-14 f-w-500 text-tertiary flex px-12 py-12 radius-8 cursor-pointer text-hover-primary-color bg-hover-primary-color-10">
      <mat-icon class="f-16 text-hint mr-10">content_copy</mat-icon>Duplicate
    </p>
    <p
      class="f-14 f-w-500 text-tertiary flex px-12 py-12 radius-8 cursor-pointer text-hover-primary-color bg-hover-primary-color-10">
      <mat-icon class="f-16 text-hint mr-10">email</mat-icon>Email
    </p>
    <p
      class="f-14 f-w-500 text-tertiary flex px-12 py-12 radius-8 cursor-pointer text-hover-primary-color bg-hover-primary-color-10">
      <mat-icon class="f-16 text-hint mr-10">print</mat-icon>Print Contact
    </p>
    <p class="f-14 f-w-500 text-tertiary text-warn flex px-12 py-12 radius-8 cursor-pointer bg-hover-warn-15">
      <mat-icon class="f-16 mr-10">delete</mat-icon>Delete
    </p>
  </div>
</div>