<div class="app-header-section w-100 px-24 flex align-center justify-between">
  <div class="flex align-center c-g-32">
    <div>
      <img class="header-logo" src="../../assets/images/app-logo.png" alt="Appvito" />
    </div>
    <div>
      <div class="flex c-g-20">
        <a href="#" class="f-12 f-w-500 l-h-24 text-dark-secondary text-hover-dark-primary flex align-center">Product
          Management
          <mat-icon class="f-16 text-dark-secondary ml-2">arrow_drop_down</mat-icon>
        </a>
        <a href="#" class="f-12 f-w-500 l-h-24 text-dark-secondary text-hover-dark-primary flex align-center">Financial
          <mat-icon class="f-16 text-dark-secondary ml-2">arrow_drop_down</mat-icon>
        </a>
        <a href="#" class="f-12 f-w-500 l-h-24 text-dark-secondary text-hover-dark-primary flex align-center">
          CRM
          <mat-icon class="f-16 text-dark-secondary ml-2">arrow_drop_down</mat-icon>
        </a>
        <a href="#" class="f-12 f-w-500 l-h-24 text-dark-secondary text-hover-dark-primary flex align-center">
          Human Resource
          <mat-icon class="f-16 text-dark-secondary ml-2">arrow_drop_down</mat-icon>
        </a>
        <a href="#" class="f-12 f-w-500 l-h-24 text-dark-secondary text-hover-dark-primary flex align-center">
          More
          <mat-icon class="f-16 text-dark-secondary ml-2">arrow_drop_down</mat-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="flex align-center">
    <div class="flex">
      <form>
        <div class="header-search-input search-dark">
          <mat-icon class="text-tertiary">search</mat-icon>
          <input type="text" name="search" placeholder="Search contacts">
        </div>
      </form>
      <button mat-fab color="primary" class="mat-add-button ml-16" aria-label="add details">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="header-actions flex align-center c-g-12 px-12 ml-16">
      <button mat-icon-button class="header-action-icon" aria-label="Example icon button with a open in new tab icon">
        <mat-icon class="f-20 text-dark-secondary">storefront</mat-icon>
      </button>
      <button mat-icon-button class="header-action-icon" aria-label="Example icon button with a menu icon">
        <mat-icon class="f-20 text-dark-secondary">home</mat-icon>
      </button>
      <button mat-icon-button class="header-action-icon" aria-label="Example icon button with a heart icon">
        <mat-icon class="f-20 text-dark-secondary">notifications</mat-icon>
      </button>
    </div>
    <div class="flex align-center ml-20">
      <div>
        <img class="box-36" src="../../assets/images/sample-user.png" alt="Appvito" />
      </div>
      <div class="ml-10">
        <h4 class="f-13 f-w-600 text-white">Johnny Vino</h4>
        <p class="f-10 text-dark-secondary mt-4">Sr, Manager</p>
      </div>
    </div>
  </div>
</div>

<div class="app-sub-header flex align-center justify-between px-24">
  <div class="flex align-center mr-12">
    <button mat-mini-fab color="accent" aria-label="add details">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h3 class="f-16 f-w-500 text-secondary ml-8">Contact Details View</h3>
  </div>
  <div class="flex c-g-8">
    <button mat-mini-fab class="small sub-head-actions sub-head-active" aria-label="add details">
      <mat-icon class="text-tertiary">home</mat-icon>
    </button>
    <button mat-mini-fab class="small sub-head-actions" aria-label="add details">
      <mat-icon class="text-tertiary">insert_chart</mat-icon>
    </button>
    <button mat-mini-fab class="small sub-head-actions" aria-label="add details">
      <mat-icon class="text-tertiary">more_horiz</mat-icon>
    </button>
    <form>
      <div class="header-search-input">
        <mat-icon class="text-hint">search</mat-icon>
        <input type="text" name="search" placeholder="Search contacts">
      </div>
    </form>
  </div>
</div>