<div class="contact-info-card flex flex-column align-center justify-center pt-32 pb-24 px-24">
  <div class="flex flex-column align-center justify-center mw-240 w-100">
    <img class="box-100 radius-full" src="../../assets/images/sample-user-2.png" alt="" />
    <h4 class="f-22 f-w-600 text-primary mt-20">John Britto</h4>
    <div class="flex align-center mt-8">
      <img class="box-16 radius-full" src="../../assets/images/app-symbol.png" alt="" />
      <p class="f-14 text-hint ml-6">Appvito</p>
    </div>
  </div>
  <div class="flex c-g-24 mt-20">
    <div>
      <button mat-mini-fab color="accent" class="fab-outline" aria-label="add details">
        <mat-icon>add</mat-icon>
      </button>
      <p class="f-12 text-tertiary mt-8">Log</p>
    </div>
    <div>
      <button mat-mini-fab color="accent" class="fab-outline" aria-label="add details">
        <mat-icon>call</mat-icon>
      </button>
      <p class="f-12 text-tertiary mt-8">Call</p>
    </div>
    <div>
      <button mat-mini-fab color="accent" class="fab-outline" aria-label="add details">
        <mat-icon>email</mat-icon>
      </button>
      <p class="f-12 text-tertiary mt-8">Email</p>
    </div>
    <div>
      <button mat-mini-fab color="accent" class="fab-outline" aria-label="add details">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <p class="f-12 text-tertiary mt-8">More</p>
    </div>
  </div>
  <div class="mt-20">
    <button mat-flat-button class="contact-lead-btn w-100 minw-240" aria-label="add details">
      Convert to Lead
    </button>
    <button mat-stroked-button class="contact-contract-btn w-100 minw-240 mt-12" aria-label="add details">
      Convert to Customer
    </button>
    <div class="mt-16 text-center">
      <p class="f-12 text-primary"><span class="mr-4">Last activity:</span><span>2 Jan 2023 at 9:00 AM</span>
      </p>
    </div>
  </div>
</div>

<div>
  <mat-accordion class="sidebar-mat-collapse" multi>
    <mat-expansion-panel class="border-top-secondary">
      <mat-expansion-panel-header>
        <mat-panel-title class="f-12 f-w-600 text-tertiary">
          Contact Info
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div>
        <p class="f-12 f-w-400 text-hint">Email</p>
        <p class="f-14 f-w-600 text-secondary mt-12">Johnny.Britto&#64;gmail.com</p>
      </div>
      <div class="mt-16">
        <p class="f-12 f-w-400 text-hint">Phone</p>
        <p class="f-14 f-w-600 text-secondary mt-12">(983) 888 0392</p>
      </div>
      <div class="mt-16">
        <p class="f-12 f-w-400 text-hint">Lead owner</p>
        <p class="f-14 f-w-600 text-secondary mt-12">Sr. Sales Manager</p>
      </div>
      <div class="mt-16">
        <p class="f-12 f-w-400 text-hint">Job Title</p>
        <p class="f-14 f-w-600 text-secondary mt-12">(983) 888 0392</p>
      </div>

    </mat-expansion-panel>
    <mat-expansion-panel class="border-top-secondary">
      <mat-expansion-panel-header>
        <mat-panel-title class="f-12 f-w-600 text-tertiary">
          Address Info
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <p class="f-12 f-w-400 text-hint">City</p>
        <p class="f-14 f-w-600 text-secondary mt-12">Chennai</p>
      </div>
      <div class="mt-16">
        <p class="f-12 f-w-400 text-hint">Country</p>
        <p class="f-14 f-w-600 text-secondary mt-12">India</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="border-top-secondary">
      <mat-expansion-panel-header>
        <mat-panel-title class="f-12 f-w-600 text-tertiary">
          Additional Info
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <p class="f-12 f-w-400 text-hint">Industry</p>
        <p class="f-14 f-w-600 text-secondary mt-12">CRM Softwares</p>
      </div>
      <div class="mt-16">
        <p class="f-12 f-w-400 text-hint">Market</p>
        <p class="f-14 f-w-600 text-secondary mt-12">Information technologies</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="border-top-secondary">
      <mat-expansion-panel-header>
        <mat-panel-title class="f-12 f-w-600 text-tertiary">
          Hobbies Info
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <p class="f-12 f-w-400 text-hint">Hobbies</p>
        <p class="f-14 f-w-600 text-secondary mt-12">Sport, Music, Dance, Reading</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="border-top-secondary">
      <mat-expansion-panel-header>
        <mat-panel-title class="f-12 f-w-600 text-tertiary">
          Social Information
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <p class="f-12 f-w-400 text-hint">Skype</p>
        <p class="f-14 f-w-600 text-secondary mt-12">jeoanand</p>
      </div>
      <div class="mt-16">
        <p class="f-12 f-w-400 text-hint">Website</p>
        <p class="f-14 f-w-600 text-secondary mt-12">design.jeoanand.com</p>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>