<div class="app-layout">
  <div class="app-header">
    <app-header></app-header>
  </div>
  <div class="app-content">
    <div class="flex">
      <!-- Contact Info Section -->
      <div class="contact-info-section">
        <app-contact-info></app-contact-info>
      </div>

      <!-- Contact Activities Section -->
      <div class="contact-activities-section flex-1 p-24">
        <div class="pb-20">
          <div class="home-search">
            <mat-icon class="text-tertiary">search</mat-icon>
            <input type="text" name="search" placeholder="Search activities, Leads, Opportunities">
          </div>
        </div>
        <mat-tab-group>
          <mat-tab label="Activities"><app-contact-activities></app-contact-activities></mat-tab>
          <mat-tab label="Leads & Opportunities"><app-empty-screen></app-empty-screen></mat-tab>
          <mat-tab label="Notes"><app-empty-screen></app-empty-screen></mat-tab>
          <mat-tab label="Calendar"><app-empty-screen></app-empty-screen> </mat-tab>
          <mat-tab label="Email"><app-empty-screen></app-empty-screen></mat-tab>
          <mat-tab label="Task"><app-empty-screen></app-empty-screen></mat-tab>
          <mat-tab label="Meetings"><app-empty-screen></app-empty-screen></mat-tab>
        </mat-tab-group>
      </div>

      <!-- Contact Statistics Section -->
      <div class="contact-stats-section">
        <app-contact-stats></app-contact-stats>
      </div>
    </div>
  </div>
</div>