@use "../settings/mixins" as *;
@use "../settings/variables" as *;
@use "../settings/colors" as *;

/* Mat form field style overwrite here */

.mat-mdc-form-field,
.mat-mdc-input,
.mat-mdc-form-field-type-mat-input {
  width: 100%;
  .mat-mdc-form-field-wrapper {
    padding-bottom: 0 !important;
  }
}

.header-search-input {
  position: relative;
  .mat-icon {
    position: absolute;
    top: 8px;
    left: 12px;
    margin: auto 0;
    font-size: 16px;
  }
  input {
    height: 32px;
    min-width: 200px;
    border: none;
    background: var(--bg-primary);
    padding-left: 36px;
    border-radius: $round-radius;
    @include font(12px, 22px, 400, var(--text-primary));
    &:hover,
    &:focus,
    &:active {
      background: var(--bg-secondary);
    }
    ::placeholder {
      @include font(12px, 20px, 400, var(--text-hint));
    }

    ::-ms-input-placeholder {
      @include font(12px, 20px, 400, var(--text-hint));
    }
  }
  &.search-dark {
    input {
      min-width: 270px;
      @include font(12px, 22px, 400, var(--text-dark-primary));
      background: var(--bg-white-15) !important;
    }
  }
}

.home-search {
  position: relative;
  height: 46px;
  border-bottom: $border-tertiary;
  .mat-icon {
    position: absolute;
    top: 14px;
    left: 12px;
    margin: auto 0;
    font-size: 16px;
  }
  input {
    width: 100%;
    height: 46px;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-color: var(--border-primary);
    background: var(--bg-primary);
    padding-left: 36px;
    border-top-right-radius: $radius8;
    border-top-left-radius: $radius8;
    @include font(14px, 22px, 400, var(--text-primary));
    &:hover,
    &:focus,
    &:active {
      background: var(--white);
      border-radius: $radius8;
    }
    ::placeholder {
      color: var(--text-light);
    }

    ::-ms-input-placeholder {
      color: var(--text-light);
    }
  }
}
