<div class="activities-content mt-20">
  <div>
    <div>
      <button mat-flat-button color="default" class="mat-filter-btn">
        Filter activity 24/25
        <!-- <mat-icon class="f-14 text-hint mr-8">expand_more</mat-icon> -->
      </button>
      <button mat-flat-button color="default" class="mat-filter-btn ml-12">
        All
        <!-- <mat-icon class="f-14 text-hint mr-8">expand_more</mat-icon> -->
      </button>
    </div>
  </div>
  <h3 class="f-16 f-w-600 text-primary my-20">Upcoming Activity</h3>
  <div class="mt-20">
    <div class="activity-card flex flex-column r-g-20">
      <mat-accordion class="content-mat-collapse">
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header class="block">
            <div class="flex w-100 pl-40 pr-20 py-16 flex justify-between align-center border-bottom-tertiary">
              <div class="flex align-center">
                <div class="box-26 bg-primary-color-10 grid place-center radius-full mr-8">
                  <mat-icon class="f-16 text-primary-color">text_snippet</mat-icon>
                </div>
                <p class="f-12 f-w-700">
                  <span class="f-w-400 text-hint">Task created by</span><span class="ml-4 text-secondary">Esther
                    Howard</span>
                </p>
              </div>
              <div>
                <p class="f-12 flex align-center">
                  <span class="text-tertiary">Due:</span>
                  <mat-icon class="f-16 text-hint mx-4">calendar_month</mat-icon>
                  <span class="text-primary f-w-600">Today, 12:00 PM</span>
                  <mat-icon class="f-20 text-hint ml-8">more_horiz</mat-icon>
                </p>
              </div>
            </div>
            <div class="px-24 pt-24 pb-16 flex">
              <div class="box-26 bg-primary grid place-center border-secondary radius-full mr-12">
                <!-- <mat-icon class="f-18 text-primary-color">settings_backup_restore</mat-icon> -->
              </div>
              <div class="flex-1">
                <h3 class="f-12 f-w-700 text-primary">Followup Call for James Carry</h3>
                <p class="f-12 f-w-400 text-tertiary l-h-20 mt-8">He is intersted in our product contact
                  management
                  best
                  price.
                  Please include details are bdown a
                  cost. He is intersted
                  in our product contact management best price. He is intersted in our product contact
                  management
                  best price. Please include details are bdown a
                  cost. He is intersted
                  in our product contact management best price.</p>
              </div>
            </div>
          </mat-expansion-panel-header>
          <div class="expand-content pl-40">
            <div class="w-100 flex bg-primary radius-8 minh-80">
              <div class="flex-1 flex align-center justify-center">
                <div>
                  <p class="f-12 f-w-400 text-hint">Reminder</p>
                  <p class="f-14 f-w-600 text-secondary mt-12">No Reminder</p>
                </div>
              </div>
              <div class="flex-1 flex align-center justify-center border-left-primary border-right-primary">
                <div>
                  <p class="f-12 f-w-400 text-hint">Priority</p>
                  <div class="flex align-center mt-12">
                    <div class="box-14 radius-2 bg-warn mr-6"></div>
                    <p class="f-14 f-w-600 text-secondary">High</p>
                    <mat-icon class="f-20 text-hint ml-6">keyboard_arrow_down</mat-icon>
                  </div>
                </div>
              </div>
              <div class="flex-1 flex align-center justify-center">
                <div>
                  <p class="f-12 f-w-400 text-hint">Priority</p>
                  <div class="flex align-center mt-12">
                    <img class="box-26 mr-8" src="../../assets/images/sample-user.png" alt="" />
                    <p class="f-14 f-w-600 text-secondary">Johnny Vino</p>
                    <mat-icon class="f-20 text-hint ml-6">keyboard_arrow_down</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion class="content-mat-collapse">
        <mat-expansion-panel>
          <mat-expansion-panel-header class="block">
            <div class="flex w-100 pl-40 pr-20 py-16 flex justify-between align-center border-bottom-tertiary">
              <div class="flex align-center">
                <div class="box-26 bg-primary-color-10 grid place-center radius-full mr-8">
                  <mat-icon class="f-16 text-primary-color">text_snippet</mat-icon>
                </div>
                <p class="f-12 f-w-700">
                  <span class="f-w-400 text-hint">Task created by</span><span class="ml-4 text-secondary">Esther
                    Howard</span>
                </p>
              </div>
              <div>
                <p class="f-12 flex align-center">
                  <span class="text-tertiary">Due:</span>
                  <mat-icon class="f-16 text-hint mx-4">calendar_month</mat-icon>
                  <span class="text-primary f-w-600">Today, 12:00 PM</span>
                  <mat-icon class="f-20 text-hint ml-8">more_horiz</mat-icon>
                </p>
              </div>
            </div>
            <div class="px-24 pt-24 pb-16 flex">
              <div class="box-26 bg-primary grid place-center border-secondary radius-full mr-12">
                <!-- <mat-icon class="f-18 text-primary-color">settings_backup_restore</mat-icon> -->
              </div>
              <div class="flex-1">
                <h3 class="f-12 f-w-700 text-primary">Followup Call for James Carry</h3>
                <p class="f-12 f-w-400 text-tertiary l-h-20 mt-8">He is intersted in our product contact
                  management
                  best
                  price.
                  Please include details are bdown a
                  cost. He is intersted
                  in our product contact management best price. He is intersted in our product contact
                  management
                  best price. Please include details are bdown a
                  cost. He is intersted
                  in our product contact management best price.</p>
              </div>
            </div>
          </mat-expansion-panel-header>
          <div class="expand-content pl-40">
            <div class="w-100 flex bg-primary radius-8 minh-80">
              <div class="flex-1 flex align-center justify-center">
                <div>
                  <p class="f-12 f-w-400 text-hint">Reminder</p>
                  <p class="f-14 f-w-600 text-secondary mt-12">No Reminder</p>
                </div>
              </div>
              <div class="flex-1 flex align-center justify-center border-left-primary border-right-primary">
                <div>
                  <p class="f-12 f-w-400 text-hint">Priority</p>
                  <div class="flex align-center mt-12">
                    <div class="box-14 radius-2 bg-warn mr-6"></div>
                    <p class="f-14 f-w-600 text-secondary">High</p>
                    <mat-icon class="f-20 text-hint ml-6">keyboard_arrow_down</mat-icon>
                  </div>
                </div>
              </div>
              <div class="flex-1 flex align-center justify-center">
                <div>
                  <p class="f-12 f-w-400 text-hint">Priority</p>
                  <div class="flex align-center mt-12">
                    <img class="box-26 mr-8" src="../../assets/images/sample-user.png" alt="" />
                    <p class="f-14 f-w-600 text-secondary">Johnny Vino</p>
                    <mat-icon class="f-20 text-hint ml-6">keyboard_arrow_down</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion class="content-mat-collapse">
        <mat-expansion-panel>
          <mat-expansion-panel-header class="block">
            <div class="flex w-100 pl-40 pr-20 py-16 flex justify-between align-center border-bottom-tertiary">
              <div class="flex align-center">
                <div class="box-26 bg-primary-color-10 grid place-center radius-full mr-8">
                  <mat-icon class="f-16 text-primary-color">text_snippet</mat-icon>
                </div>
                <p class="f-12 f-w-700">
                  <span class="f-w-400 text-hint">Task created by</span><span class="ml-4 text-secondary">Esther
                    Howard</span>
                </p>
              </div>
              <div>
                <p class="f-12 flex align-center">
                  <span class="text-tertiary">Due:</span>
                  <mat-icon class="f-16 text-hint mx-4">calendar_month</mat-icon>
                  <span class="text-primary f-w-600">Today, 12:00 PM</span>
                  <mat-icon class="f-20 text-hint ml-8">more_horiz</mat-icon>
                </p>
              </div>
            </div>
            <div class="px-24 pt-24 pb-16 flex">
              <div class="box-26 bg-primary grid place-center border-secondary radius-full mr-12">
                <!-- <mat-icon class="f-18 text-primary-color">settings_backup_restore</mat-icon> -->
              </div>
              <div class="flex-1">
                <h3 class="f-12 f-w-700 text-primary">Followup Call for James Carry</h3>
                <p class="f-12 f-w-400 text-tertiary l-h-20 mt-8">He is intersted in our product contact
                  management
                  best
                  price.
                  Please include details are bdown a
                  cost. He is intersted
                  in our product contact management best price. He is intersted in our product contact
                  management
                  best price. Please include details are bdown a
                  cost. He is intersted
                  in our product contact management best price.</p>
              </div>
            </div>
          </mat-expansion-panel-header>
          <div class="expand-content pl-40">
            <div class="w-100 flex bg-primary radius-8 minh-80">
              <div class="flex-1 flex align-center justify-center">
                <div>
                  <p class="f-12 f-w-400 text-hint">Reminder</p>
                  <p class="f-14 f-w-600 text-secondary mt-12">No Reminder</p>
                </div>
              </div>
              <div class="flex-1 flex align-center justify-center border-left-primary border-right-primary">
                <div>
                  <p class="f-12 f-w-400 text-hint">Priority</p>
                  <div class="flex align-center mt-12">
                    <div class="box-14 radius-2 bg-warn mr-6"></div>
                    <p class="f-14 f-w-600 text-secondary">High</p>
                    <mat-icon class="f-20 text-hint ml-6">keyboard_arrow_down</mat-icon>
                  </div>
                </div>
              </div>
              <div class="flex-1 flex align-center justify-center">
                <div>
                  <p class="f-12 f-w-400 text-hint">Priority</p>
                  <div class="flex align-center mt-12">
                    <img class="box-26 mr-8" src="../../assets/images/sample-user.png" alt="" />
                    <p class="f-14 f-w-600 text-secondary">Johnny Vino</p>
                    <mat-icon class="f-20 text-hint ml-6">keyboard_arrow_down</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>